/* Tablet view CSS */
@media only screen and (max-width: 768px) {
  /* Header area */
  .container {
    max-width: 760px;
    margin: 20px;
  }

  .header-image {
    width: 70%;
    height: 700px;
    position: relative;
    left: 40px;
    top: 140px;
  }

  /* side nav css */

  .side-nav {
    flex-direction: row;
    position: relative;
    left: 0px;
    height: 80px;
    margin: 50px 0;
  }
  .side-nav button {
    margin: 0 10px;
  }

  .mid-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Grid area css */
  .grid-area {
    max-width: 760px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hidden {
    display: none;
  }

  .view-all-btn {
    display: block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 60px;
    position: relative;
    top: 100%;
    left: 70%;
  }
}
/* Mobile view css */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-text {
    text-align: center;
  }
  .header-text h2 {
    font-size: 2em;
  }
  .watch-live-btn button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-image {
    width: 50%;
    height: 400px;
    position: relative;
    left: 40px;
    top: 54px;
  }
  .side-nav {
    flex-direction: column;
    height: 200px;
  }
  .side-nav button {
    margin: 10px 10px;
  }
  .grid-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .view-all-btn {
    display: none;
  }

  footer h3 {
    font-size: 1.5em;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  i {
    margin: 10px 0;
  }
  .footer-link > ul > li > a {
    margin-bottom: 10px;
  }
}
